body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
}
#circle{
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid purple;
    border-radius: 50%;
}